.container{
  width: 100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 1rem; */
  
  
  /* Liberal */
  /* #013364 */

  /* Conservative */
  /* #d30b0d */
}

.input-container{
  background-color: rgba(255,255,255,0.9);
  border-radius: 20px;
  padding:20px;
  width: 40%;
  min-width: 20%;
  height:200px
}